.header {
  top: 0;
  left: 0;
  height: 119px;
  width: 100%;
  position: fixed;
  z-index: 2;
  color: #fef6f5;
  background-image: linear-gradient(-180deg, #f53d2d, #f63);
}
.header a {
  font-weight: 400;
  color: #fef6f5;
  text-decoration: inherit;
}
.header-main {
  padding-top: 16px;
  padding-bottom: 10px;
  display: flex;
  margin: auto;
  height: 85px;
  width: 1200px;
  align-items: center;
}
.logo {
  margin-top: 15px;
  display: flex;
  font-size: 30px;
  width: 162px;
  height: 59px;
  margin-right: auto;
  cursor: pointer;
  margin-right: 40px;
}
.logo-text {
  margin-top: 6px;
}
.logo-icon {
  width: 38px;
  height: 38px;
}
.search {
  height: 100%;
}
.search-box {
  display: flex;
  align-items: center;
  height: 40px;
  width: 840px;
  border-radius: 2px;
  background-color: #fef6f5;
}
.search-input {
  outline: none;
  border: 0;
  height: 36px;
  width: 100%;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 34px;
  margin-right: 3px;
  background-color: #fb5533;
  cursor: pointer;
  border: #fb5533 1px solid;
  border-radius: 2px;
}
.search-button:hover {
  background-color: rgba(251, 85, 51, 0.9);
}
.search-icon {
  width: 16px;
  height: 16px;
}
.search-keyword {
  display: flex;
  padding: 5px 0;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 12px;
}
.keyword {
  cursor: pointer;
  padding-right: 15px;
}
.keyword:hover {
  color: #ddd;
}
.cart-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.user,
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90px;
  cursor: pointer;
}
.user-icon {
  width: 40px;
  height: 40px;
}
.header-items {
  display: flex;
  margin: auto;
  align-items: center;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  height: 34px;
  max-width: 1200px;
}
.header-first-item {
  padding-right: 1rem;
  border-right: #f69113 solid 2px;
}
.header-first-item:hover {
  color: #ddd;
}
.header-item {
  color: #fff;
  margin: 0 0.5rem;
  padding: 0 0.5em;
}
.header-icon {
  width: 18px;
  height: 18px;
  margin: 4px;
  cursor: pointer;
}
.help {
  display: flex;
  align-items: center;
  margin: 10px;
}
.notify-icon {
  width: 24px;
  height: 24px;
}
.help-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.header-follow {
  display: flex;
  align-items: center;
  margin-right: auto;
}
