.product {
  display: flex;
}
.product-img {
  padding: 15px;
  width: 480px;
  height: 600px;
}
.main-img {
  width: 450px;
  height: 450px;
}
.product-other-img {
  display: flex;
  width: 450px;
  height: 96px;
}
.imgs {
  padding: 4px;
  width: 90px;
  height: 90px;
}
.product-info {
  width: 720px;
  padding: 20px 35px 0 20px;
}
.product-title {
  height: 48px;
  font-weight: 500;
  margin: 0;
  max-height: 3rem;
  line-height: 1.5rem;
  overflow: hidden;
  max-width: 41.5625rem;
  font-size: 1.25rem;
}
.product-page-price {
  display: flex;
  align-items: center;
  color: #ee4d2d;
  height: 66px;
  padding: 15px 20px;
  font-size: 30px;
  background-color: #fafafa;
  margin-bottom: 32px;
}
.product-kind {
  background-color: rgba(145, 151, 174, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  border: #eff6ee 1px solid;
  cursor: pointer;
}
.product-kind:hover {
  background-color: rgba(145, 151, 174, 0.75);
}
.product-kind:focus {
  color: #eff6ee;
  background-color: rgba(145, 151, 174, 1);
}
.product-stock {
  font-size: 12px;
  color: darkgray;
}
.product-variant {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.product-cart-buy {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  color: #ee4d2d;
}
.product-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 48px;
  background-color: rgba(255, 87, 34, 0.1);
  border: #ee4d2d solid 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  margin-right: 24px;
  cursor: pointer;
}
.product-buy {
  color: #fff;
  background-color: #ee4d2d;
  padding: 1rem;
  width: 114px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}

.product-amount {
  border: dimgray 1px solid;
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 114px;
}
.amount {
  border: 0;
  height: 30px;
  width: 50px;
  border-radius: 0;
  text-align: center;
}
.amount:focus {
  border: 0;
  outline: none;
}
.amount-button {
  font-size: large;
  align-items: center;
  text-align: center;
  width: 32px;
  font-size: 20px;
  padding: 0 0.5rem;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.amount-stock {
  display: flex;
  align-items: center;
}
.info-title {
  width: 110px;
  color: #757575;
}
.cart-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.description {
  width: 1200px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
}
.product-description {
  width: 1180px;
  padding-top: 24px;
  margin: auto;
}
.description-title {
  width: 1150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.125rem;
  padding: 0.875rem;
}
.description-content {
  padding: 12px;
}
.product-store {
  width: 1200px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  align-items: center;
}
.product-store-picture {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.product-store-info {
  width: 160px;
  height: 82px;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.product-store-name {
  font-weight: 400px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
.product-store-btn-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.product-check-store-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 34px;
  color: #555;
  font-size: 14px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.product-check-store-btn:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.product-store-detail {
  padding-left: 25px;
}
.product-store-detail-item {
  display: flex;
  align-items: center;
  width: 216px;
  font-size: 14px;
}
.product-store-detail-items {
  display: flex;
  gap: 25px;
}
.product-store-detail-title {
  color: rgba(0, 0, 0, 0.4);
  margin-right: auto;
}
.product-store-detail-content {
  color: #ee4d2d;
}
