extends layout.pug
block content
    .fixed-bottom.d-flex
        input.w-100.p-3(type="text")
        button.btn.btn-outline-success.send(type="button" style="width: 100px") 送出
block script
    script(src="/javascripts/userchat.js")